
@model HomeViewModel

@{
    ViewBag.Title = "Home";
}


<h2>Deals</h2>
<h4>Our weekly selection - just for you!</h4>

<div class="row">

    @foreach (var product in Model.Deals)
    {
        <partial name="_ProductsLIst" model="product" />
    }

</div>
<span id="1">sfsfaf</span>
<h5 class="h55">dgdg</h5>
<h1 class="h55">shalek </h1>